<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
			name="viewport"
			content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
		/>
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<base href="/" />
		<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
		<link rel="stylesheet" href="/client/assets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script type="text/javascript">
      (function(){
          emailjs.init("user_7rvIlz2vfvxHrQAEK5c56");
      })();
      </script>
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div id="app">
			&zwnj;
		</div>
	</body>
</html>
