:root {
	--bg: #fff;
	--text-light: #eee;
	--text-dark: #111;
}

/* 
 * LOADING Spinner
*/

.lds-dual-ring {
	display: inline-block;
	width: 40px;
	height: 40px;
}
.lds-dual-ring:after {
	content: ' ';
	display: block;
	width: 32px;
	height: 32px;
	margin: 4px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

nav {
	display: flex;
	flex-direction: row;
	height: 75px;
	background-color: #f7fafc;
	color: #1a202c;
	justify-content: space-between;
	align-items: center;
	font-family: 'Righteous', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 0 2em;
}

a.navLink {
	font-size: 1.5em;
	margin: 0 1em;
}

a.navLink:hover {
	color: #718096;
}

.heading,
h2.heading {
	font-family: 'Righteous', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.heading {
	text-align: center;
	font-size: 1em;
}

a.heading:hover {
	color: #cbd5e0;
}

.navSection {
	display: flex;
}

.navLogo {
	display: flex;
	align-items: center;
	font-size: 2em;
}
.navContainer {
	display: flex;
}

.dropContainer {
	position: relative;
}
.dropDown {
	position: absolute;
	top: 2.5em;
	left: -1em;
	opacity: 0;
	transition: 0.3s all;
}

.dropContainer > a svg {
	transition: 0.3s all;
}

.rotate {
	transform: rotate(-180deg);
}

.dropList {
	color: #1a202c;
	background-color: #f7fafc;
	padding: 0.5em 2em;
}

.dropList > a {
	margin: 0;
}

.showMenu {
	opacity: 1;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	background-color: #1a202c;
	color: white;
}
.burgerLogo {
	display: flex;
	justify-content: space-between;
}
#burger {
	display: none;
	flex-direction: column;
	justify-content: center;
	width: 40px;
	height: 75px;
	margin: 0 2em;
}
#burger > div {
	width: 100%;
	height: 5px;
	background: #1a202c;
	margin: 5px 0;
	opacity: 1;
	transition: 0.2s all ease-in-out;
}

#burger1.active {
	transform: rotate(45deg) translateY(21px);
}
#burger2.active {
	opacity: 0;
}
#burger3.active {
	transform: rotate(-45deg) translateY(-21px);
}

.productList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100vw;
	padding: 2em;
}

.productList a:hover {
	color: #cbd5e0;
}

.box-container {
	width: 33vw;
	margin: auto;
	margin-top: 30px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reviewForm {
	color: black;
	border-radius: 4px;
	padding: 5px;
}

#reviewForm {
	margin: 2rem 10rem;
}

.homeHeroImg {
	background-image: url('https://images.unsplash.com/photo-1486092642310-0c4e84309adb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
	width: 100vw;
	height: calc(100vh - 75px);
	background-size: cover;
	background-position: center;
}

.checkoutForm {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 100px;
}

@media screen and (max-width: 1024px) {
	.navLogo {
		font-size: 1.5em;
	}
	a.navLink {
		font-size: 1.2em;
	}
}
@media screen and (max-width: 768px) {
	nav {
		flex-direction: column;
		justify-content: center;
	}
	.navSection {
		flex-direction: column;
	}
	.navContainer {
		background-color: #f7fafc;
		flex-direction: column;
		width: 100vw;
		position: absolute;
		top: 75px;
		left: -100%;
		z-index: 1000;
		transition: 0.3s all;
	}
	#burger {
		display: flex;
		flex-direction: column;
	}
	.burgerLogo {
		width: 100%;
	}
	.showMenu {
		left: 0;
	}

	.navContainer a.navLink {
		margin: 1em auto;
	}
	.dropList a.navLink > h2 {
		margin: 1em auto;
		display: block;
	}
	.dropDown {
		position: relative;
		opacity: 1;
		top: 0;
		left: 0;
	}
	svg.chevron {
		display: none;
	}
	a.navLink {
		text-align: center;
	}
	.dropList {
		/*
      hack to prevent margin collapse
    */
		padding: 0.05px;
	}
	.navLogo {
		justify-self: center;
	}
}
